USE [master]
GO
/****** Object:  Database [HopeChain_DB]    Script Date: 01/12/2025 23:56:50 ******/
CREATE DATABASE [HopeChain_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HopeChain_DB_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HopeChain_DB.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HopeChain_DB_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HopeChain_DB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HopeChain_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HopeChain_DB]
GO
/****** Object:  Table [dbo].[Bitacora_Auditoria]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora_Auditoria](
	[BitacoraID] [bigint] IDENTITY(1,1) NOT NULL,
	[NombreTabla] [varchar](50) NULL,
	[UsuarioWebID] [int] NULL,
	[UsuarioWebNombre] [varchar](100) NULL,
	[FechaEvento] [datetime] NULL,
	[TipoAccion] [char](6) NULL,
	[ValoresAnteriores] [nvarchar](max) NULL,
	[ValoresNuevos] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Bitacora_Global]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Bitacora_Global]
AS
SELECT 
    BitacoraID,
    FechaEvento,
    NombreTabla,
    CASE 
        WHEN TipoAccion = 'INSERT' THEN 'Creación'
        WHEN TipoAccion = 'UPDATE' THEN 'Modificación'
        WHEN TipoAccion = 'DELETE' THEN 'Eliminación'
    END AS Accion,
    UsuarioWebID,
	UsuarioWebNombre,
    ValoresAnteriores,
    ValoresNuevos
FROM Bitacora_Auditoria
GO
/****** Object:  Table [dbo].[Campañas]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campañas](
	[CampanaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCampana] [varchar](80) NULL,
	[ONGID] [int] NULL,
	[Descripcion] [varchar](max) NULL,
	[Valoracion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CampanaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ONGs]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ONGs](
	[ONGID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_ONG] [varchar](60) NULL,
	[Descripcion] [varchar](255) NULL,
	[TipoONGID] [int] NULL,
	[PaisID] [int] NULL,
	[ContactoID] [int] NULL,
	[RFC] [varchar](12) NULL,
	[Comprobante] [varchar](max) NULL,
	[EstatusID] [int] NULL,
	[PlataformaWeb] [varchar](max) NULL,
	[Logo] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ONGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Campañas_General]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Campañas_General] AS
	SELECT
		C.CampanaID,
		C.NombreCampana,
		O.Nombre_ONG,
		C.Descripcion,
		C.Valoracion
	FROM
		Campañas C
	INNER JOIN
		ONGs O
		ON C.ONGID = O.ONGID
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](40) NULL,
	[ApellidoPaterno] [varchar](25) NULL,
	[ApellidoMaterno] [varchar](25) NULL,
	[CorreoElectronico] [varchar](50) NULL,
	[RolID] [int] NULL,
	[PaisID] [int] NULL,
	[TipoCuentaID] [int] NULL,
	[Contrasena] [varbinary](64) NULL,
	[Salt] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[Fecha] [datetime] NULL,
	[UsuarioID] [int] NULL,
	[Comentario] [varchar](max) NULL,
	[Valoracion] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Comentarios]    Script Date: 01/12/2025 23:56:50 ******/
CREATE CLUSTERED INDEX [IX_Comentarios] ON [dbo].[Comentarios]
(
	[Fecha] ASC,
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Comentarios_Generales]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Comentarios_Generales] AS
	SELECT
		C.Fecha,
		U.Nombres,
		C.Comentario,
		C.Valoracion
	FROM
		Comentarios C
	JOIN
		Usuarios U
		ON U.UsuarioID = C.UsuarioID
GO
/****** Object:  Table [dbo].[Comentarios_ONGs]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios_ONGs](
	[Fecha] [datetime] NULL,
	[UsuarioID] [int] NULL,
	[ONGID] [int] NULL,
	[Comentario] [varchar](max) NULL,
	[Valoracion] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Comentarios_ONGs]    Script Date: 01/12/2025 23:56:50 ******/
CREATE CLUSTERED INDEX [IX_Comentarios_ONGs] ON [dbo].[Comentarios_ONGs]
(
	[Fecha] ASC,
	[ONGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Comentarios_ONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Comentarios_ONG] AS
	SELECT
		C.Fecha,
		O.Nombre_ONG,
		U.Nombres,
		C.Comentario,
		C.Valoracion
	FROM
		Comentarios_ONGs C
	JOIN
		Usuarios U
		ON U.UsuarioID = C.UsuarioID
	JOIN
		ONGs O
		ON O.ONGID = C.ONGID
GO
/****** Object:  Table [dbo].[Tipos_ONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_ONG](
	[Tipo_ONGID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoONG] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tipo_ONGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recibo_Donativo_Economico]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recibo_Donativo_Economico](
	[Recibo_Economico_ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[Monto] [decimal](18, 2) NULL,
	[MonedaID] [int] NULL,
	[MetodoPagoID] [int] NULL,
	[Fecha] [date] NULL,
	[ONGID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Recibo_Economico_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Distribucion_Donaciones_Economicas]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Distribucion_Donaciones_Economicas] AS
SELECT
	TONG.NombreTipoONG,
	SUM(DC.Monto) AS TotalDonado
	FROM Recibo_Donativo_Economico DC
	JOIN ONGs ONG ON DC.ONGID = ONG.ONGID
	JOIN Tipos_ONG TONG ON ONG.TipoONGID = TONG.Tipo_ONGID
	GROUP BY TONG.NombreTipoONG
GO
/****** Object:  Table [dbo].[Recibo_Donativo_EconomicoCampaña]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recibo_Donativo_EconomicoCampaña](
	[Recibo_Economico_ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[Monto] [decimal](18, 2) NULL,
	[MonedaID] [int] NULL,
	[MetodoPagoID] [int] NULL,
	[Fecha] [date] NULL,
	[CampanaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Recibo_Economico_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Distribucion_Donaciones_Economicas_Campañas]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Distribucion_Donaciones_Economicas_Campañas] AS
SELECT
	C.NombreCampana,
	ISNULL(SUM(RDEC.Monto),0) AS TotalDonado,
	COUNT(*) AS TotalDonacionesRealizadas
FROM 
	Recibo_Donativo_EconomicoCampaña RDEC
JOIN 
	Campañas C 
	ON RDEC.CampanaID = C.CampanaID
GROUP BY 
	C.NombreCampana
GO
/****** Object:  View [dbo].[Vista_DistribucionTipoONG_Donaciones_Economicas_General]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_DistribucionTipoONG_Donaciones_Economicas_General] AS
SELECT
    TONG.NombreTipoONG,
    SUM(Unificado.Monto) AS TotalDonado
FROM (
    -- Donativos Directos
    SELECT 
		Monto, 
		ONGID 
	FROM 
		Recibo_Donativo_Economico
    UNION ALL
    -- Donativos a Campañas (Vinculamos con la ONG de la campaña)
    SELECT 
		RDEC.Monto, 
		C.ONGID
    FROM 
		Recibo_Donativo_EconomicoCampaña RDEC
    JOIN 
		Campañas C 
		ON RDEC.CampanaID = C.CampanaID
) AS Unificado
JOIN 
	ONGs ONG 
	ON Unificado.ONGID = ONG.ONGID
JOIN 
	Tipos_ONG TONG 
	ON ONG.TipoONGID = TONG.Tipo_ONGID
GROUP BY 
	TONG.NombreTipoONG;
GO
/****** Object:  View [dbo].[Vista_Monto_Total_Donaciones_Economicas]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Monto_Total_Donaciones_Economicas] AS
SELECT
	SUM(Monto) AS TotalDonado
	FROM Recibo_Donativo_Economico
GO
/****** Object:  View [dbo].[Vista_Monto_Total_Donaciones_Economicas_Campañas]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Monto_Total_Donaciones_Economicas_Campañas] AS
SELECT
	ISNULL(SUM(Monto),0) AS TotalDonado
	FROM Recibo_Donativo_EconomicoCampaña
GO
/****** Object:  View [dbo].[Vista_Monto_Total_Donaciones_Economicas_General]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Monto_Total_Donaciones_Economicas_General] AS
SELECT
	(ISNULL((
		SELECT 
			SUM(Monto) 
		FROM 
			Recibo_Donativo_Economico), 0) +
     ISNULL((
		SELECT 
			SUM(Monto) 
		FROM 
			Recibo_Donativo_EconomicoCampaña), 0)) 
AS TotalDonado;
GO
/****** Object:  View [dbo].[Vista_MontoTotal_Por_ONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_MontoTotal_Por_ONG] AS
	SELECT
		ONG.Nombre_ONG,
		ISNULL(SUM(DC.Monto),0) AS TotalRecibido
	FROM
		ONGs ONG
	LEFT JOIN
		Recibo_Donativo_Economico AS DC
		ON ONG.ONGID = DC.ONGID
	GROUP BY
		ONG.Nombre_ONG
GO
/****** Object:  View [dbo].[Vista_MontoTotal_Por_ONG_General]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_MontoTotal_Por_ONG_General] AS
SELECT
    ONG.Nombre_ONG,
    ISNULL(SUM(Unificado.Monto), 0) AS TotalRecibido
FROM
    ONGs ONG
LEFT JOIN (
    SELECT 
		Monto, 
		ONGID 
	FROM 
		Recibo_Donativo_Economico
    UNION ALL
    SELECT 
		RDEC.Monto, 
		C.ONGID
    FROM 
		Recibo_Donativo_EconomicoCampaña RDEC
    JOIN 
		Campañas C 
		ON RDEC.CampanaID = C.CampanaID
) 
AS Unificado 
ON ONG.ONGID = Unificado.ONGID
GROUP BY
    ONG.Nombre_ONG;
GO
/****** Object:  View [dbo].[Vista_ONGs_General]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_ONGs_General] AS
	SELECT
		O.Logo,
		O.Nombre_ONG,
		T.NombreTipoONG
	FROM
		ONGs O
	LEFT JOIN
		Tipos_ONG T
		ON O.TipoONGID = T.Tipo_ONGID
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[MetodoPagoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreMetodoPago] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MetodoPagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moneda]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moneda](
	[MonedaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreMoneda] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MonedaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Recibos_General]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Recibos_General] AS
SELECT
    Recibo_Economico_ID, 
	Fecha, 
	Monto, 
	NombreMoneda, 
	NombreMetodoPago,
    Nombres, 
	ApellidoPaterno, 
	ApellidoMaterno, 
	Nombre_ONG, '
	Directo ONG' AS TipoDonacion
FROM (
    SELECT 
		RDE.Recibo_Economico_ID, 
		RDE.Fecha, 
		RDE.Monto, 
		M.NombreMoneda, 
		MP.NombreMetodoPago,
        U.Nombres, 
		U.ApellidoPaterno, 
		U.ApellidoMaterno, 
		O.Nombre_ONG
    FROM 
		Recibo_Donativo_Economico RDE
    LEFT JOIN 
		ONGs O 
		ON RDE.ONGID = O.ONGID
    LEFT JOIN 
		Usuarios U 
		ON RDE.UsuarioID = U.UsuarioID
    LEFT JOIN 
		Moneda M 
		ON RDE.MonedaID = M.MonedaID
    LEFT JOIN 
	MetodoPago MP 
	ON RDE.MetodoPagoID = MP.MetodoPagoID
) AS Directos

UNION ALL

SELECT
    Recibo_Economico_ID, 
	Fecha, 
	Monto, 
	NombreMoneda, 
	NombreMetodoPago,
    Nombres, 
	ApellidoPaterno, 
	ApellidoMaterno, 
	Nombre_ONG, 
	'Campaña' AS TipoDonacion
FROM (
    SELECT 
		RDEC.Recibo_Economico_ID, 
		RDEC.Fecha, 
		RDEC.Monto, 
		M.NombreMoneda, 
		MP.NombreMetodoPago,
        U.Nombres, 
		U.ApellidoPaterno, 
		U.ApellidoMaterno, 
		O.Nombre_ONG
    FROM 
		Recibo_Donativo_EconomicoCampaña RDEC
    LEFT JOIN 
		Campañas C 
		ON RDEC.CampanaID = C.CampanaID
    LEFT JOIN 
		ONGs O 
		ON C.ONGID = O.ONGID
    LEFT JOIN 
		Usuarios U 
		ON RDEC.UsuarioID = U.UsuarioID
    LEFT JOIN 
		Moneda M 
		ON RDEC.MonedaID = M.MonedaID
    LEFT JOIN 
		MetodoPago 
		MP ON RDEC.MetodoPagoID = MP.MetodoPagoID
) AS Campanas;
GO
/****** Object:  View [dbo].[Vista_Total_Donaciones_Economicas_Realizadas]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Total_Donaciones_Economicas_Realizadas] AS
SELECT
	COUNT(*) AS TotalDonacionesRealizadas
	FROM Recibo_Donativo_Economico
GO
/****** Object:  View [dbo].[Vista_Total_Donaciones_Economicas_Realizadas_General]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Total_Donaciones_Economicas_Realizadas_General] AS
SELECT
    (SELECT 
		COUNT(*) 
	FROM 
		Recibo_Donativo_Economico) +
    (SELECT 
		COUNT(*) 
	FROM 
		Recibo_Donativo_EconomicoCampaña) 
	AS TotalDonacionesRealizadas;
GO
/****** Object:  View [dbo].[Vista_Total_ONGs_Participantes]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Total_ONGs_Participantes] AS
SELECT
	COUNT(*) AS TotalONGsInscritas
	FROM ONGs
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Campañas_PorONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Campañas_PorONG](
	@ONGID INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		C.CampanaID,
		C.NombreCampana,
		O.Nombre_ONG,
		C.Descripcion,
		C.Valoracion
	FROM
		Campañas C
	INNER JOIN
		ONGs O
		ON C.ONGID = O.ONGID
	WHERE C.ONGID = @ONGID
	)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Comentarios_Generales_PorAño]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Comentarios_Generales_PorAño](
	@Fecha INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		C.Fecha,
		U.Nombres,
		C.Comentario,
		C.Valoracion
	FROM
		Comentarios C
	INNER JOIN
		Usuarios U
		ON C.UsuarioID = U.UsuarioID
	WHERE
		YEAR(C.Fecha) = @Fecha
	)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Comentarios_Generales_PorUsuario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Vista_Comentarios_Generales_PorUsuario](
	@UsuarioID INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		C.Fecha,
		U.Nombres,
		C.Comentario,
		C.Valoracion
	FROM
		Comentarios C
	INNER JOIN
		Usuarios U
		ON C.UsuarioID = U.UsuarioID
	WHERE
		C.UsuarioID = @UsuarioID
	)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Comentarios_ONG_PorAño]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Comentarios_ONG_PorAño](
	@Fecha INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		C.Fecha,
		O.Nombre_ONG,
		U.Nombres,
		C.Comentario,
		C.Valoracion
	FROM
		Comentarios_ONGs C
	JOIN
		Usuarios U
		ON U.UsuarioID = C.UsuarioID
	JOIN
		ONGs O
		ON O.ONGID = C.ONGID
	WHERE YEAR(C.Fecha) = @Fecha
	)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Comentarios_ONG_PorONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Comentarios_ONG_PorONG](
	@ONGID INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		C.Fecha,
		O.Nombre_ONG,
		U.Nombres,
		C.Comentario,
		C.Valoracion
	FROM
		Comentarios_ONGs C
	INNER JOIN
		Usuarios U
		ON U.UsuarioID = C.UsuarioID
	INNER JOIN
		ONGs O
		ON O.ONGID = C.ONGID
	WHERE
		C.ONGID = @ONGID
	)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Comentarios_ONG_PorUsuario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Comentarios_ONG_PorUsuario](
	@UsuarioID INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		C.Fecha,
		O.Nombre_ONG,
		U.Nombres,
		C.Comentario,
		C.Valoracion
	FROM
		Comentarios_ONGs C
	INNER JOIN
		Usuarios U
		ON U.UsuarioID = C.UsuarioID
	INNER JOIN
		ONGs O
		ON O.ONGID = C.ONGID
	WHERE
		C.UsuarioID = @UsuarioID
	)
GO
/****** Object:  Table [dbo].[Contacto]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacto](
	[ContactoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](35) NULL,
	[CorreoElectronico] [varchar](50) NULL,
	[Telefono] [varchar](31) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estatus_ONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estatus_ONG](
	[EstatusID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstatus] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[PaisesID] [int] IDENTITY(1,1) NOT NULL,
	[NombrePaises] [varchar](47) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaisesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Datos_ONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Datos_ONG](
	@ONGID INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		O.ONGID,
		O.Logo,
		O.Nombre_ONG,
		T.NombreTipoONG,
		P.NombrePaises,
		O.Descripcion,
		C.Nombre,
		C.CorreoElectronico,
		C.Telefono,
		O.PlataformaWeb,
		O.EstatusID,
		O.RFC,
		O.Comprobante
	FROM
		ONGs O
	LEFT JOIN
		Paises P
		ON O.PaisID = P.PaisesID
	LEFT JOIN
		Estatus_ONG E
		ON O.EstatusID = E.EstatusID
	LEFT JOIN
		Tipos_ONG T
		ON O.TipoONGID = T.Tipo_ONGID
	LEFT JOIN
		Contacto C
		ON O.ContactoID = C.ContactoID
	WHERE
		O.ONGID = @ONGID
	)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Flujo_Donaciones_Economicas_Campañas_Mensual]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Flujo_Donaciones_Economicas_Campañas_Mensual] (
	@Ano INT
)
RETURNS TABLE
AS
RETURN (
	/*Tabla temporal con los meses del ano*/
	WITH MesesDelAno (Numero_Mes,Mes_Nombre) AS(
		SELECT 1, 'ENE' UNION ALL
		SELECT 2, 'FEB' UNION ALL
		SELECT 3, 'MAR' UNION ALL
		SELECT 4, 'ABR' UNION ALL
		SELECT 5, 'MAY' UNION ALL
		SELECT 6, 'JUN' UNION ALL
		SELECT 7, 'JUL' UNION ALL
		SELECT 8, 'AGO' UNION ALL
		SELECT 9, 'SEP' UNION ALL
		SELECT 10, 'OCT' UNION ALL
		SELECT 11, 'NOV' UNION ALL
		SELECT 12, 'DIC'
	)

	SELECT
		M.Numero_Mes,
		M.Mes_Nombre,

		ISNULL(SUM(RDEC.Monto),0) AS MontoTotal,
		@Ano AS Ano
	FROM 
		MesesDelAno AS M
	LEFT JOIN
		Recibo_Donativo_EconomicoCampaña RDEC
		ON M.Numero_Mes = MONTH(RDEC.Fecha)
		AND YEAR(RDEC.Fecha) = @Ano
	GROUP BY
	M.Numero_Mes,
	M.Mes_Nombre
)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Flujo_Donaciones_Economicas_Mensual]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Flujo_Donaciones_Economicas_Mensual] (
	@Ano INT
)
RETURNS TABLE
AS
RETURN (
	/*Tabla temporal con los meses del ano*/
	WITH MesesDelAno (Numero_Mes,Mes_Nombre) AS(
		SELECT 1, 'ENE' UNION ALL
		SELECT 2, 'FEB' UNION ALL
		SELECT 3, 'MAR' UNION ALL
		SELECT 4, 'ABR' UNION ALL
		SELECT 5, 'MAY' UNION ALL
		SELECT 6, 'JUN' UNION ALL
		SELECT 7, 'JUL' UNION ALL
		SELECT 8, 'AGO' UNION ALL
		SELECT 9, 'SEP' UNION ALL
		SELECT 10, 'OCT' UNION ALL
		SELECT 11, 'NOV' UNION ALL
		SELECT 12, 'DIC'
	)

	SELECT
		M.Numero_Mes,
		M.Mes_Nombre,

		ISNULL(SUM(Donaciones.Monto),0) AS MontoTotal,
		@Ano AS Ano
	FROM 
		MesesDelAno AS M
	LEFT JOIN
		Recibo_Donativo_Economico AS Donaciones
		ON M.Numero_Mes = MONTH(Donaciones.Fecha)
		AND YEAR(Donaciones.Fecha) = @Ano
	GROUP BY
	M.Numero_Mes,
	M.Mes_Nombre
)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Flujo_Donaciones_Economicas_Mensual_General]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Flujo_Donaciones_Economicas_Mensual_General] (
	@Ano INT
)
RETURNS TABLE
AS
RETURN (
	/*Tabla temporal con los meses del ano*/
	WITH MesesDelAno (Numero_Mes,Mes_Nombre) AS(
		SELECT 1, 'ENE' UNION ALL
		SELECT 2, 'FEB' UNION ALL
		SELECT 3, 'MAR' UNION ALL
		SELECT 4, 'ABR' UNION ALL
		SELECT 5, 'MAY' UNION ALL
		SELECT 6, 'JUN' UNION ALL
		SELECT 7, 'JUL' UNION ALL
		SELECT 8, 'AGO' UNION ALL
		SELECT 9, 'SEP' UNION ALL
		SELECT 10, 'OCT' UNION ALL
		SELECT 11, 'NOV' UNION ALL
		SELECT 12, 'DIC'
	),
	DonacionesUnificadas AS (
        SELECT Fecha, Monto FROM Recibo_Donativo_Economico
        UNION ALL
        SELECT Fecha, Monto FROM Recibo_Donativo_EconomicoCampaña
    )
	SELECT
		M.Numero_Mes,
		M.Mes_Nombre,

		ISNULL(SUM(D.Monto),0) AS MontoTotal,
		@Ano AS Ano
	FROM 
		MesesDelAno AS M
	LEFT JOIN
		DonacionesUnificadas AS D
        ON M.Numero_Mes = MONTH(D.Fecha) AND YEAR(D.Fecha) = @Ano
	GROUP BY
	M.Numero_Mes,
	M.Mes_Nombre
)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_HistorialDonaciones_Usuario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_HistorialDonaciones_Usuario] (
		@UsuarioID INT
		)
	RETURNS TABLE
	AS
	RETURN (
	SELECT
		REC.Fecha,
		REC.Monto,
		ONG.Nombre_ONG,
		REC.Recibo_Economico_ID
	FROM
		Recibo_Donativo_Economico REC
	JOIN
		ONGs ONG
		ON REC.ONGID = ONG.ONGID
	WHERE 
		REC.UsuarioID = @UsuarioID
	)
GO
/****** Object:  Table [dbo].[Imagenes_Campanas]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagenes_Campanas](
	[ImagenID] [int] IDENTITY(1,1) NOT NULL,
	[CampanaID] [int] NULL,
	[Ruta] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImagenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Imagenes_Campaña]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Imagenes_Campaña](
	@CampanaID INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		IC.ImagenID,
		IC.Ruta
	FROM
		Imagenes_Campanas IC
	LEFT JOIN
		Campañas C
		ON C.CampanaID = IC.CampanaID
	WHERE
		IC.CampanaID = @CampanaID
	)
GO
/****** Object:  Table [dbo].[Imagenes_ONGs]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagenes_ONGs](
	[ImagenID] [int] IDENTITY(1,1) NOT NULL,
	[ONGID] [int] NULL,
	[Ruta] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImagenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Imagenes_ONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Imagenes_ONG](
	@ONGID INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		IONG.ImagenID,
		IONG.Ruta
	FROM
		Imagenes_ONGs IONG
	LEFT JOIN
		ONGs O
		ON O.ONGID = IONG.ONGID
	WHERE
		IONG.ONGID = @ONGID
	)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Recibos_PorAño]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Recibos_PorAño](
	@Año INT )
	RETURNS TABLE
	AS
	RETURN(
	SELECT * FROM Vista_Recibos_General WHERE YEAR(Fecha) = @Año
	)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Recibos_PorONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Recibos_PorONG](
	@ONGID INT )
	RETURNS TABLE
	AS
	RETURN(
	SELECT * 
	FROM 
		Vista_Recibos_General 
    WHERE 
		Nombre_ONG = (SELECT Nombre_ONG FROM ONGs WHERE ONGID = @ONGID)
	)
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_Recibos_PorUsuario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_Recibos_PorUsuario](
	@UsuarioID INT )
	RETURNS TABLE
	AS
	RETURN(
	SELECT * 
	FROM 
		Vista_Recibos_General 
    WHERE Nombres = (SELECT Nombres FROM Usuarios WHERE UsuarioID = @UsuarioID)
	)
GO
/****** Object:  Table [dbo].[Usuarios_ONGs]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios_ONGs](
	[Usuario_ONGID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[ApellidoPaterno] [varchar](30) NULL,
	[ApellidoMaterno] [varchar](30) NULL,
	[CorreoElectronico] [varchar](80) NULL,
	[Contrasena] [varbinary](64) NULL,
	[ONGID] [int] NULL,
	[Salt] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario_ONGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_UsuariosONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_UsuariosONG] (
	@UsuarioID INT
	)
RETURNS TABLE
AS
RETURN(
	SELECT
		U.Usuario_ONGID,
		U.Nombre,
		U.ApellidoPaterno,
		U.ApellidoMaterno,
		U.CorreoElectronico,
		O.Nombre_ONG
	FROM
		Usuarios_ONGs U
	JOIN
		ONGs O
		ON U.ONGID = O.ONGID
	WHERE 
		U.Usuario_ONGID = @UsuarioID
)
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Vista_DatosUsuario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Vista_DatosUsuario] (
	@UsuarioID INT
	)
	RETURNS TABLE
	AS
	RETURN(
	SELECT
		U.Nombres,
		U.ApellidoPaterno,
		U.ApellidoMaterno,
		U.CorreoElectronico,
		P.NombrePaises,
		R.NombreRol,
		(SELECT 
			ISNULL(SUM(Monto),0)
		FROM
			Vista_Recibos_PorUsuario(@UsuarioID)) AS TotalDonado,
		(SELECT
			ISNULL(COUNT(*),0)
		FROM
			Vista_Recibos_PorUsuario(@UsuarioID)) AS DonacionesRealizadas
		
	FROM
		Usuarios U
	JOIN
		Paises P
		ON U.PaisID = P.PaisesID
	JOIN
		Rol R
		ON U.RolID = R.RolID
	WHERE U.UsuarioID = @UsuarioID
	)
GO
/****** Object:  Table [dbo].[TiposDeCuenta]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDeCuenta](
	[TipoCuentaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoDeCuenta] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoCuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora_Auditoria] ON 

INSERT [dbo].[Bitacora_Auditoria] ([BitacoraID], [NombreTabla], [UsuarioWebID], [UsuarioWebNombre], [FechaEvento], [TipoAccion], [ValoresAnteriores], [ValoresNuevos]) VALUES (1, N'Recibo_Donativo_EconomicoCampaña', NULL, NULL, CAST(N'2025-11-21T21:22:22.033' AS DateTime), N'DELETE', N'[{"Recibo_Economico_ID":1,"UsuarioID":1,"Monto":250.00,"MonedaID":1,"MetodoPagoID":1,"Fecha":"2025-11-21","CampanaID":1}]', NULL)
INSERT [dbo].[Bitacora_Auditoria] ([BitacoraID], [NombreTabla], [UsuarioWebID], [UsuarioWebNombre], [FechaEvento], [TipoAccion], [ValoresAnteriores], [ValoresNuevos]) VALUES (2, N'Recibo_Donativo_Economico', NULL, NULL, CAST(N'2025-11-21T21:22:22.043' AS DateTime), N'DELETE', N'[{"Recibo_Economico_ID":1,"UsuarioID":1,"Monto":500.00,"MonedaID":1,"MetodoPagoID":1,"Fecha":"2025-11-21","ONGID":1}]', NULL)
INSERT [dbo].[Bitacora_Auditoria] ([BitacoraID], [NombreTabla], [UsuarioWebID], [UsuarioWebNombre], [FechaEvento], [TipoAccion], [ValoresAnteriores], [ValoresNuevos]) VALUES (3, N'Campañas', NULL, NULL, CAST(N'2025-11-21T21:22:22.057' AS DateTime), N'DELETE', N'[{"CampanaID":1,"NombreCampana":"Salvar a las ballenas azules","ONGID":1,"Descripcion":"Campaña marina urgente","Valoracion":5}]', NULL)
SET IDENTITY_INSERT [dbo].[Bitacora_Auditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Campañas] ON 

INSERT [dbo].[Campañas] ([CampanaID], [NombreCampana], [ONGID], [Descripcion], [Valoracion]) VALUES (1, N'Salvar a las ballenas azules', 1, N'Campaña marina urgente', 5)
INSERT [dbo].[Campañas] ([CampanaID], [NombreCampana], [ONGID], [Descripcion], [Valoracion]) VALUES (4, N'Jornada de Salud Visual 2025', 10, N'Exámenes de la vista y entrega de lentes gratuitos en comunidades serranas.', 5)
INSERT [dbo].[Campañas] ([CampanaID], [NombreCampana], [ONGID], [Descripcion], [Valoracion]) VALUES (5, N'Vacunación Infantil Rural', 10, N'Campaña masiva de vacunación para niños menores de 5 años en zonas de difícil acceso.', 4)
SET IDENTITY_INSERT [dbo].[Campañas] OFF
GO
INSERT [dbo].[Comentarios] ([Fecha], [UsuarioID], [Comentario], [Valoracion]) VALUES (CAST(N'2025-11-21T21:23:37.227' AS DateTime), 1, N'Excelente plataforma', 5)
INSERT [dbo].[Comentarios] ([Fecha], [UsuarioID], [Comentario], [Valoracion]) VALUES (CAST(N'2025-11-28T21:25:42.493' AS DateTime), 5, N'A la plataforma le falta, pero la idea me parece muy productiva para la sociedad', 3)
GO
INSERT [dbo].[Comentarios_ONGs] ([Fecha], [UsuarioID], [ONGID], [Comentario], [Valoracion]) VALUES (CAST(N'2025-11-21T21:23:37.230' AS DateTime), 1, 1, N'Hacen buen trabajo', 4)
INSERT [dbo].[Comentarios_ONGs] ([Fecha], [UsuarioID], [ONGID], [Comentario], [Valoracion]) VALUES (CAST(N'2025-11-28T21:23:32.107' AS DateTime), 5, 1, N'Me encanta su Campaña sobre las ballenas ', 5)
GO
SET IDENTITY_INSERT [dbo].[Contacto] ON 

INSERT [dbo].[Contacto] ([ContactoID], [Nombre], [CorreoElectronico], [Telefono]) VALUES (1, N'Juan Contacto', N'contacto@ong.com', N'555-1234')
INSERT [dbo].[Contacto] ([ContactoID], [Nombre], [CorreoElectronico], [Telefono]) VALUES (2, N'Juan Pérez', N'contacto@manossanadoras.org', N'555-123-4567')
INSERT [dbo].[Contacto] ([ContactoID], [Nombre], [CorreoElectronico], [Telefono]) VALUES (3, N'Maria Lopez', N'info@futurobrillante.org', N'555-987-6543')
SET IDENTITY_INSERT [dbo].[Contacto] OFF
GO
SET IDENTITY_INSERT [dbo].[Estatus_ONG] ON 

INSERT [dbo].[Estatus_ONG] ([EstatusID], [NombreEstatus]) VALUES (1, N'Activa')
INSERT [dbo].[Estatus_ONG] ([EstatusID], [NombreEstatus]) VALUES (2, N'Pendiente')
INSERT [dbo].[Estatus_ONG] ([EstatusID], [NombreEstatus]) VALUES (3, N'Suspendida')
SET IDENTITY_INSERT [dbo].[Estatus_ONG] OFF
GO
SET IDENTITY_INSERT [dbo].[Imagenes_Campanas] ON 

INSERT [dbo].[Imagenes_Campanas] ([ImagenID], [CampanaID], [Ruta]) VALUES (1, 1, N'imagenes_campanas/ballena_azul.webp')
INSERT [dbo].[Imagenes_Campanas] ([ImagenID], [CampanaID], [Ruta]) VALUES (2, 8, N'imagenes_campanas/50f9986b-f35f-4104-804c-a7ec344335e4.webp')
INSERT [dbo].[Imagenes_Campanas] ([ImagenID], [CampanaID], [Ruta]) VALUES (3, 4, N'imagenes_campanas/campoanialentes.webp')
SET IDENTITY_INSERT [dbo].[Imagenes_Campanas] OFF
GO
SET IDENTITY_INSERT [dbo].[Imagenes_ONGs] ON 

INSERT [dbo].[Imagenes_ONGs] ([ImagenID], [ONGID], [Ruta]) VALUES (1, 1, N'http://img.url/foto1.jpg')
SET IDENTITY_INSERT [dbo].[Imagenes_ONGs] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodoPago] ON 

INSERT [dbo].[MetodoPago] ([MetodoPagoID], [NombreMetodoPago]) VALUES (1, N'Tarjeta Credito')
SET IDENTITY_INSERT [dbo].[MetodoPago] OFF
GO
SET IDENTITY_INSERT [dbo].[Moneda] ON 

INSERT [dbo].[Moneda] ([MonedaID], [NombreMoneda]) VALUES (1, N'Peso Mexicano')
INSERT [dbo].[Moneda] ([MonedaID], [NombreMoneda]) VALUES (2, N'Dolar USD')
SET IDENTITY_INSERT [dbo].[Moneda] OFF
GO
SET IDENTITY_INSERT [dbo].[ONGs] ON 

INSERT [dbo].[ONGs] ([ONGID], [Nombre_ONG], [Descripcion], [TipoONGID], [PaisID], [ContactoID], [RFC], [Comprobante], [EstatusID], [PlataformaWeb], [Logo]) VALUES (1, N'Greenpeace Real', N'Salva el mundo', 1, 1, 1, N'XAXX010101', N'http://pdf.url', 1, N'www.green-new.com', N'logos_ong/440f21e639e8bc1391c7bc6fa421966b.webp')
INSERT [dbo].[ONGs] ([ONGID], [Nombre_ONG], [Descripcion], [TipoONGID], [PaisID], [ContactoID], [RFC], [Comprobante], [EstatusID], [PlataformaWeb], [Logo]) VALUES (10, N'Manos Sanadoras MX', N'Organización dedicada a brindar asistencia médica gratuita en zonas rurales.', 2, 1, 2, N'MSM901010ABC', N'comprobante1.pdf', 1, N'www.manossanadoras.mx', N'logos_ong/manos-sol-brillante-cielo-nubes_259139-874.webp')
INSERT [dbo].[ONGs] ([ONGID], [Nombre_ONG], [Descripcion], [TipoONGID], [PaisID], [ContactoID], [RFC], [Comprobante], [EstatusID], [PlataformaWeb], [Logo]) VALUES (11, N'Futuro Brillante US', N'Becas y material educativo para niños de escasos recursos.', 3, 4, 3, N'FBU808080XYZ', N'comprobante2.pdf', 1, N'www.futurobrillante.org', N'logos_ong/79343506-modern-education-logo-bright-future-ahead.jpg')
SET IDENTITY_INSERT [dbo].[ONGs] OFF
GO
SET IDENTITY_INSERT [dbo].[Paises] ON 

INSERT [dbo].[Paises] ([PaisesID], [NombrePaises]) VALUES (1, N'Mexico')
INSERT [dbo].[Paises] ([PaisesID], [NombrePaises]) VALUES (2, N'Colombia')
INSERT [dbo].[Paises] ([PaisesID], [NombrePaises]) VALUES (3, N'Argentina')
SET IDENTITY_INSERT [dbo].[Paises] OFF
GO
SET IDENTITY_INSERT [dbo].[Recibo_Donativo_Economico] ON 

INSERT [dbo].[Recibo_Donativo_Economico] ([Recibo_Economico_ID], [UsuarioID], [Monto], [MonedaID], [MetodoPagoID], [Fecha], [ONGID]) VALUES (1, 1, CAST(500.00 AS Decimal(18, 2)), 1, 1, CAST(N'2025-11-21' AS Date), 1)
INSERT [dbo].[Recibo_Donativo_Economico] ([Recibo_Economico_ID], [UsuarioID], [Monto], [MonedaID], [MetodoPagoID], [Fecha], [ONGID]) VALUES (2, 5, CAST(50.00 AS Decimal(18, 2)), 1, 1, CAST(N'2025-11-28' AS Date), 1)
INSERT [dbo].[Recibo_Donativo_Economico] ([Recibo_Economico_ID], [UsuarioID], [Monto], [MonedaID], [MetodoPagoID], [Fecha], [ONGID]) VALUES (3, 5, CAST(100.00 AS Decimal(18, 2)), 1, 1, CAST(N'2025-11-28' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Recibo_Donativo_Economico] OFF
GO
SET IDENTITY_INSERT [dbo].[Recibo_Donativo_EconomicoCampaña] ON 

INSERT [dbo].[Recibo_Donativo_EconomicoCampaña] ([Recibo_Economico_ID], [UsuarioID], [Monto], [MonedaID], [MetodoPagoID], [Fecha], [CampanaID]) VALUES (1, 1, CAST(250.00 AS Decimal(18, 2)), 1, 1, CAST(N'2025-11-21' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Recibo_Donativo_EconomicoCampaña] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([RolID], [NombreRol]) VALUES (1, N'Donador')
INSERT [dbo].[Rol] ([RolID], [NombreRol]) VALUES (2, N'Administrador')
INSERT [dbo].[Rol] ([RolID], [NombreRol]) VALUES (3, N'ONG')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipos_ONG] ON 

INSERT [dbo].[Tipos_ONG] ([Tipo_ONGID], [NombreTipoONG]) VALUES (1, N'Ecologica')
INSERT [dbo].[Tipos_ONG] ([Tipo_ONGID], [NombreTipoONG]) VALUES (2, N'Salud')
INSERT [dbo].[Tipos_ONG] ([Tipo_ONGID], [NombreTipoONG]) VALUES (3, N'Educación')
SET IDENTITY_INSERT [dbo].[Tipos_ONG] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposDeCuenta] ON 

INSERT [dbo].[TiposDeCuenta] ([TipoCuentaID], [NombreTipoDeCuenta]) VALUES (1, N'Gratuita')
INSERT [dbo].[TiposDeCuenta] ([TipoCuentaID], [NombreTipoDeCuenta]) VALUES (2, N'Usuario')
INSERT [dbo].[TiposDeCuenta] ([TipoCuentaID], [NombreTipoDeCuenta]) VALUES (3, N'Administrador')
SET IDENTITY_INSERT [dbo].[TiposDeCuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [CorreoElectronico], [RolID], [PaisID], [TipoCuentaID], [Contrasena], [Salt]) VALUES (1, N'Juan', N'Perez', N'Test', N'usuario@test.com', 1, 1, 1, 0xCC80D1E904BEF290234C813BD40009EC796A4C0DC986DA9D512B55DD4415BD61, N'fb0f45a4-36ca-462d-8103-5d49c375fcaf')
INSERT [dbo].[Usuarios] ([UsuarioID], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [CorreoElectronico], [RolID], [PaisID], [TipoCuentaID], [Contrasena], [Salt]) VALUES (4, N'Roberto Carlos', N'Tapia', N'Galan', N'gabertitop@gmail.com', 2, 1, 2, 0x1762676FB16338E26CD395AE88F908487D692A5D411B179C8C999FC498FB83D0, N'4920d913-6127-4a95-b7eb-596dd7cd02d0')
INSERT [dbo].[Usuarios] ([UsuarioID], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [CorreoElectronico], [RolID], [PaisID], [TipoCuentaID], [Contrasena], [Salt]) VALUES (5, N'Gael', N'Guzman', N'Alarcon', N'gaelguza21@gmail.com', 1, 1, 2, 0xD5DD7428A11B8966E7457CD794255C78FE58C80E0EBA663EFE98C966BD5A509C, N'5bd35ea2-26b9-467f-9b1f-503c08979691')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios_ONGs] ON 

INSERT [dbo].[Usuarios_ONGs] ([Usuario_ONGID], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [CorreoElectronico], [Contrasena], [ONGID], [Salt]) VALUES (1, N'Laura', N'Gomez', N'Admin', N'admin@ong.com', 0x9A3E5591A0C03CFDD79699713CA657A5633DF7DB1D8F8E430DC0601C195AB612, 1, N'c3ab77d8-40a3-484f-9c1c-e0a6857f9392')
INSERT [dbo].[Usuarios_ONGs] ([Usuario_ONGID], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [CorreoElectronico], [Contrasena], [ONGID], [Salt]) VALUES (2, N'Ana Maria', N'Torres', N'Vega', N'ana.torres@educafuturo.org', 0xA5AC5FCC75E1ED1D9211107EB8B72F26C47C081C7B3B105EAF924D7B7A77DF60, 12, N'b269be89-ed46-42ac-9e52-6dbd2ba7d203')
SET IDENTITY_INSERT [dbo].[Usuarios_ONGs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Contacto_CorreoElectronico]    Script Date: 01/12/2025 23:56:50 ******/
ALTER TABLE [dbo].[Contacto] ADD  CONSTRAINT [UQ_Contacto_CorreoElectronico] UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_CorreoElectronico]    Script Date: 01/12/2025 23:56:50 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_CorreoElectronico] UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UsuariosONG_Correo]    Script Date: 01/12/2025 23:56:50 ******/
ALTER TABLE [dbo].[Usuarios_ONGs] ADD  CONSTRAINT [UQ_UsuariosONG_Correo] UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora_Auditoria] ADD  DEFAULT (getdate()) FOR [FechaEvento]
GO
ALTER TABLE [dbo].[Recibo_Donativo_Economico] ADD  CONSTRAINT [DF_ReciboDonativoEconomico_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [Fecha]
GO
ALTER TABLE [dbo].[Recibo_Donativo_EconomicoCampaña] ADD  CONSTRAINT [DF_ReciboDonativoEconomicoCampana_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [Fecha]
GO
ALTER TABLE [dbo].[Campañas]  WITH CHECK ADD  CONSTRAINT [FK_Campañas_ONGs] FOREIGN KEY([ONGID])
REFERENCES [dbo].[ONGs] ([ONGID])
GO
ALTER TABLE [dbo].[Campañas] CHECK CONSTRAINT [FK_Campañas_ONGs]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Usuarios]
GO
ALTER TABLE [dbo].[Comentarios_ONGs]  WITH CHECK ADD  CONSTRAINT [FK_ComentariosONG_ONGs] FOREIGN KEY([ONGID])
REFERENCES [dbo].[ONGs] ([ONGID])
GO
ALTER TABLE [dbo].[Comentarios_ONGs] CHECK CONSTRAINT [FK_ComentariosONG_ONGs]
GO
ALTER TABLE [dbo].[Comentarios_ONGs]  WITH CHECK ADD  CONSTRAINT [FK_ComentariosONG_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Comentarios_ONGs] CHECK CONSTRAINT [FK_ComentariosONG_Usuarios]
GO
ALTER TABLE [dbo].[Imagenes_Campanas]  WITH CHECK ADD  CONSTRAINT [FK_ImagenesCampanas_Campañas] FOREIGN KEY([CampanaID])
REFERENCES [dbo].[Campañas] ([CampanaID])
GO
ALTER TABLE [dbo].[Imagenes_Campanas] CHECK CONSTRAINT [FK_ImagenesCampanas_Campañas]
GO
ALTER TABLE [dbo].[Imagenes_ONGs]  WITH CHECK ADD  CONSTRAINT [FK_ImagenesONGs_ONGs] FOREIGN KEY([ONGID])
REFERENCES [dbo].[ONGs] ([ONGID])
GO
ALTER TABLE [dbo].[Imagenes_ONGs] CHECK CONSTRAINT [FK_ImagenesONGs_ONGs]
GO
ALTER TABLE [dbo].[ONGs]  WITH CHECK ADD  CONSTRAINT [FK_ONGs_Contacto] FOREIGN KEY([ContactoID])
REFERENCES [dbo].[Contacto] ([ContactoID])
GO
ALTER TABLE [dbo].[ONGs] CHECK CONSTRAINT [FK_ONGs_Contacto]
GO
ALTER TABLE [dbo].[ONGs]  WITH CHECK ADD  CONSTRAINT [FK_ONGs_EstatusONG] FOREIGN KEY([EstatusID])
REFERENCES [dbo].[Estatus_ONG] ([EstatusID])
GO
ALTER TABLE [dbo].[ONGs] CHECK CONSTRAINT [FK_ONGs_EstatusONG]
GO
ALTER TABLE [dbo].[ONGs]  WITH CHECK ADD  CONSTRAINT [FK_ONGs_Paises] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Paises] ([PaisesID])
GO
ALTER TABLE [dbo].[ONGs] CHECK CONSTRAINT [FK_ONGs_Paises]
GO
ALTER TABLE [dbo].[ONGs]  WITH CHECK ADD  CONSTRAINT [FK_ONGs_Tipos_ONG] FOREIGN KEY([TipoONGID])
REFERENCES [dbo].[Tipos_ONG] ([Tipo_ONGID])
GO
ALTER TABLE [dbo].[ONGs] CHECK CONSTRAINT [FK_ONGs_Tipos_ONG]
GO
ALTER TABLE [dbo].[Recibo_Donativo_Economico]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDonativoEconomico_MetodoDePago] FOREIGN KEY([MetodoPagoID])
REFERENCES [dbo].[MetodoPago] ([MetodoPagoID])
GO
ALTER TABLE [dbo].[Recibo_Donativo_Economico] CHECK CONSTRAINT [FK_ReciboDonativoEconomico_MetodoDePago]
GO
ALTER TABLE [dbo].[Recibo_Donativo_Economico]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDonativoEconomico_Moneda] FOREIGN KEY([MonedaID])
REFERENCES [dbo].[Moneda] ([MonedaID])
GO
ALTER TABLE [dbo].[Recibo_Donativo_Economico] CHECK CONSTRAINT [FK_ReciboDonativoEconomico_Moneda]
GO
ALTER TABLE [dbo].[Recibo_Donativo_Economico]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDonativoEconomico_ONGs] FOREIGN KEY([ONGID])
REFERENCES [dbo].[ONGs] ([ONGID])
GO
ALTER TABLE [dbo].[Recibo_Donativo_Economico] CHECK CONSTRAINT [FK_ReciboDonativoEconomico_ONGs]
GO
ALTER TABLE [dbo].[Recibo_Donativo_Economico]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDonativoEconomico_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Recibo_Donativo_Economico] CHECK CONSTRAINT [FK_ReciboDonativoEconomico_Usuarios]
GO
ALTER TABLE [dbo].[Recibo_Donativo_EconomicoCampaña]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDonativoEconomicoCampana_Campana] FOREIGN KEY([CampanaID])
REFERENCES [dbo].[Campañas] ([CampanaID])
GO
ALTER TABLE [dbo].[Recibo_Donativo_EconomicoCampaña] CHECK CONSTRAINT [FK_ReciboDonativoEconomicoCampana_Campana]
GO
ALTER TABLE [dbo].[Recibo_Donativo_EconomicoCampaña]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDonativoEconomicoCampana_MetodoDePago] FOREIGN KEY([MetodoPagoID])
REFERENCES [dbo].[MetodoPago] ([MetodoPagoID])
GO
ALTER TABLE [dbo].[Recibo_Donativo_EconomicoCampaña] CHECK CONSTRAINT [FK_ReciboDonativoEconomicoCampana_MetodoDePago]
GO
ALTER TABLE [dbo].[Recibo_Donativo_EconomicoCampaña]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDonativoEconomicoCampana_Moneda] FOREIGN KEY([MonedaID])
REFERENCES [dbo].[Moneda] ([MonedaID])
GO
ALTER TABLE [dbo].[Recibo_Donativo_EconomicoCampaña] CHECK CONSTRAINT [FK_ReciboDonativoEconomicoCampana_Moneda]
GO
ALTER TABLE [dbo].[Recibo_Donativo_EconomicoCampaña]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDonativoEconomicoCampana_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Recibo_Donativo_EconomicoCampaña] CHECK CONSTRAINT [FK_ReciboDonativoEconomicoCampana_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Paises] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Paises] ([PaisesID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Paises]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([RolID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Rol]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_TipoDeCuenta] FOREIGN KEY([TipoCuentaID])
REFERENCES [dbo].[TiposDeCuenta] ([TipoCuentaID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_TipoDeCuenta]
GO
ALTER TABLE [dbo].[Usuarios_ONGs]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosONG_ONGs] FOREIGN KEY([ONGID])
REFERENCES [dbo].[ONGs] ([ONGID])
GO
ALTER TABLE [dbo].[Usuarios_ONGs] CHECK CONSTRAINT [FK_UsuariosONG_ONGs]
GO
ALTER TABLE [dbo].[Campañas]  WITH CHECK ADD  CONSTRAINT [CK_Campañas_Valoracion] CHECK  (([Valoracion]>=(0) AND [Valoracion]<=(5)))
GO
ALTER TABLE [dbo].[Campañas] CHECK CONSTRAINT [CK_Campañas_Valoracion]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [CK_Comentarios_Valoracion] CHECK  (([Valoracion]>=(0) AND [Valoracion]<=(5)))
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [CK_Comentarios_Valoracion]
GO
ALTER TABLE [dbo].[Comentarios_ONGs]  WITH CHECK ADD  CONSTRAINT [CK_ComentariosONGs_Valoracion] CHECK  (([Valoracion]>=(0) AND [Valoracion]<=(5)))
GO
ALTER TABLE [dbo].[Comentarios_ONGs] CHECK CONSTRAINT [CK_ComentariosONGs_Valoracion]
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_Campana]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Actualizar_Campana]
    @ID INT,
    @Nombre VARCHAR(80),
    @Descripcion VARCHAR(MAX),
    @Valoracion INT
AS
BEGIN
    UPDATE Campañas
    SET NombreCampana = @Nombre, Descripcion = @Descripcion, Valoracion = @Valoracion
    WHERE CampanaID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_Comentario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Actualizar_Comentario]
    @UsuarioID INT, 
    @FechaOriginal DATETIME, -- Se necesita la fecha porque es parte de la PK compuesta/Index
    @NuevoComentario VARCHAR(MAX),
    @NuevaValoracion INT
AS
BEGIN
    UPDATE Comentarios 
    SET Comentario = @NuevoComentario, Valoracion = @NuevaValoracion
    WHERE UsuarioID = @UsuarioID AND Fecha = @FechaOriginal
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_ComentarioONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Actualizar_ComentarioONG]
    @UsuarioID INT, 
    @FechaOriginal DATETIME, -- Se necesita la fecha porque es parte de la PK compuesta/Index
    @NuevoComentario VARCHAR(MAX),
    @NuevaValoracion INT
AS
BEGIN
    UPDATE Comentarios_ONGs
    SET Comentario = @NuevoComentario, Valoracion = @NuevaValoracion
    WHERE UsuarioID = @UsuarioID AND Fecha = @FechaOriginal
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_Contacto]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Actualizar_Contacto]
    @ID INT,
    @Nombre VARCHAR(35),
    @Correo VARCHAR(50),
    @Telefono VARCHAR(31)
AS
BEGIN
    UPDATE Contacto 
    SET Nombre = @Nombre, CorreoElectronico = @Correo, Telefono = @Telefono
    WHERE ContactoID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_EstatusONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Actualizar_EstatusONG] (@ID INT, @Nombre VARCHAR(30))
AS BEGIN UPDATE Estatus_ONG SET NombreEstatus = @Nombre WHERE EstatusID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_ImagenCampana]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Actualizar_ImagenCampana] (@ID INT, @Ruta VARCHAR(MAX))
AS BEGIN 
	UPDATE Imagenes_Campanas 
	SET Ruta = @Ruta 
	WHERE ImagenID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_ImagenONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Actualizar_ImagenONG] (@ID INT, @Ruta VARCHAR(MAX))
AS BEGIN 
	UPDATE Imagenes_ONGs 
	SET Ruta = @Ruta 
	WHERE ImagenID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_MetodoPago]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Actualizar_MetodoPago] (@ID INT, @Nombre VARCHAR(40))
AS BEGIN UPDATE MetodoPago SET NombreMetodoPago = @Nombre WHERE MetodoPagoID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_Moneda]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Actualizar_Moneda] (@ID INT, @Nombre VARCHAR(20))
AS BEGIN UPDATE Moneda SET NombreMoneda = @Nombre WHERE MonedaID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_ONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Actualizar_ONG]
    @ID INT,
    @Logo VARCHAR(MAX),
    @Nombre VARCHAR(60),
    @Descripcion VARCHAR(255),
    @TipoONGID INT,
    @PaisID INT,
    @PlataformaWeb VARCHAR(MAX),
    @EstatusID INT -- Importante para aprobar/rechazar ONGs
AS
BEGIN
    UPDATE ONGs
    SET Logo = @Logo, Nombre_ONG = @Nombre, Descripcion = @Descripcion, 
        TipoONGID = @TipoONGID, PaisID = @PaisID, PlataformaWeb = @PlataformaWeb, EstatusID = @EstatusID
    WHERE ONGID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_Pais]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Actualizar_Pais] (@ID INT, @Nombre VARCHAR(47))
AS BEGIN UPDATE Paises SET NombrePaises = @Nombre WHERE PaisesID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_Rol]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Actualizar_Rol] (@ID INT, @Nombre VARCHAR(20))
AS BEGIN UPDATE Rol SET NombreRol = @Nombre WHERE RolID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_TipoCuenta]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Actualizar_TipoCuenta] (@ID INT, @Nombre VARCHAR(20))
AS BEGIN UPDATE TiposDeCuenta SET NombreTipoDeCuenta = @Nombre WHERE TipoCuentaID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_TipoONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Actualizar_TipoONG] (@ID INT, @Nombre VARCHAR(20))
AS BEGIN UPDATE Tipos_ONG SET NombreTipoONG = @Nombre WHERE Tipo_ONGID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_Usuario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Actualizar_Usuario]
    @ID INT,
    @Nombres VARCHAR(40),
    @ApellidoP VARCHAR(25),
    @ApellidoM VARCHAR(25),
    @Correo VARCHAR(50),
    @PaisID INT,
    @TipoCuentaID INT
    -- Nota: No actualizamos la contraseña ni el Rol aquí por seguridad, eso suele ser un SP aparte
AS
BEGIN
    UPDATE Usuarios 
    SET Nombres = @Nombres, ApellidoPaterno = @ApellidoP, ApellidoMaterno = @ApellidoM, 
        CorreoElectronico = @Correo, PaisID = @PaisID, TipoCuentaID = @TipoCuentaID
    WHERE UsuarioID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_UsuarioONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Actualizar_UsuarioONG]
    @ID INT,
    @Nombre VARCHAR(30),
    @ApellidoP VARCHAR(30),
    @ApellidoM VARCHAR(30),
    @Correo VARCHAR(80)
AS
BEGIN
    UPDATE Usuarios_ONGs
    SET Nombre = @Nombre, ApellidoPaterno = @ApellidoP, ApellidoMaterno = @ApellidoM, CorreoElectronico = @Correo
    WHERE Usuario_ONGID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cambiar_Contrasena_Usuario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cambiar_Contrasena_Usuario]
    @UsuarioID INT,
    @NuevaContrasena VARCHAR(50)
AS
BEGIN
    DECLARE @NuevoSalt UNIQUEIDENTIFIER = NEWID();

    UPDATE Usuarios
    SET 
        Salt = @NuevoSalt,
        Contrasena = HASHBYTES('SHA2_256', @NuevaContrasena + CAST(@NuevoSalt AS VARCHAR(36)))
    WHERE UsuarioID = @UsuarioID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cambiar_Contrasena_UsuarioONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cambiar_Contrasena_UsuarioONG]
    @UsuarioID INT,
    @NuevaContrasena VARCHAR(50)
AS
BEGIN
    DECLARE @NuevoSalt UNIQUEIDENTIFIER = NEWID();

    UPDATE Usuarios_ONGs
    SET 
        Salt = @NuevoSalt,
        Contrasena = HASHBYTES('SHA2_256', @NuevaContrasena + CAST(@NuevoSalt AS VARCHAR(36)))
    WHERE Usuario_ONGID = @UsuarioID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearCampanaCompleta]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CrearCampanaCompleta]
    @NombreCampana VARCHAR(80),
    @ONGID INT,
    @Descripcion VARCHAR(MAX),
    @RutaImagen VARCHAR(MAX) -- La ruta que guardaremos en Imagenes_Campanas
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Insertar la Campaña (Valoracion inicia en 0 o 5 por defecto)
        INSERT INTO Campañas(NombreCampana, ONGID, Descripcion, Valoracion)
        VALUES (@NombreCampana, @ONGID, @Descripcion, 5); -- Le ponemos 5 estrellas iniciales o 0

        -- 2. Obtener el ID que se acaba de crear
        DECLARE @NewCampanaID INT = SCOPE_IDENTITY();

        -- 3. Insertar la Imagen vinculada
        IF @RutaImagen IS NOT NULL
        BEGIN
            INSERT INTO Imagenes_Campanas(CampanaID, Ruta)
            VALUES (@NewCampanaID, @RutaImagen);
        END

        COMMIT TRANSACTION;
        SELECT 1 as Resultado, 'Campaña publicada exitosamente' as Mensaje;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 0 as Resultado, ERROR_MESSAGE() as Mensaje;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_Campana]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Eliminar_Campana] (@ID INT)
AS BEGIN DELETE FROM Campañas WHERE CampanaID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_Contacto]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Eliminar_Contacto] (@ID INT)
AS BEGIN DELETE FROM Contacto WHERE ContactoID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_EstatusONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Eliminar_EstatusONG] (@ID INT)
AS BEGIN DELETE FROM Estatus_ONG WHERE EstatusID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_ImagenCampana]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Eliminar_ImagenCampana] (@ID INT)
AS BEGIN DELETE FROM Imagenes_Campanas WHERE ImagenID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_ImagenONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Eliminar_ImagenONG] (@ID INT)
AS BEGIN DELETE FROM Imagenes_ONGs WHERE ImagenID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_MetodoPago]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Eliminar_MetodoPago] (@ID INT)
AS BEGIN DELETE FROM MetodoPago WHERE MetodoPagoID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_Moneda]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Eliminar_Moneda] (@ID INT)
AS BEGIN DELETE FROM Moneda WHERE MonedaID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_ONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Eliminar_ONG] (@ID INT)
AS BEGIN DELETE FROM ONGs WHERE ONGID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_Pais]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Eliminar_Pais] (@ID INT)
AS BEGIN DELETE FROM Paises WHERE PaisesID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_Rol]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Eliminar_Rol] (@ID INT)
AS BEGIN DELETE FROM Rol WHERE RolID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_TipoCuenta]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Eliminar_TipoCuenta] (@ID INT)
AS BEGIN DELETE FROM TiposDeCuenta WHERE TipoCuentaID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_TipoONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Eliminar_TipoONG] (@ID INT)
AS BEGIN DELETE FROM Tipos_ONG WHERE Tipo_ONGID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_Usuario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Eliminar_Usuario] (@ID INT)
AS BEGIN DELETE FROM Usuarios WHERE UsuarioID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_UsuarioONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Eliminar_UsuarioONG] (@ID INT)
AS BEGIN DELETE FROM Usuarios_ONGs WHERE Usuario_ONGID = @ID END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Campana]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* --- Campañas --- */
CREATE PROCEDURE [dbo].[sp_Insertar_Campana]
    @Nombre VARCHAR(80),
    @ONGID INT,
    @Descripcion VARCHAR(MAX),
    @Valoracion INT
AS
BEGIN
    INSERT INTO Campañas(NombreCampana, ONGID, Descripcion, Valoracion)
    VALUES (@Nombre, @ONGID, @Descripcion, @Valoracion)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Comentario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* --- Comentarios Generales --- */
CREATE PROCEDURE [dbo].[sp_Insertar_Comentario]
    @UsuarioID INT,
    @Comentario VARCHAR(MAX),
    @Valoracion INT
AS
BEGIN
    INSERT INTO Comentarios(Fecha, UsuarioID, Comentario, Valoracion)
    VALUES (GETDATE(), @UsuarioID, @Comentario, @Valoracion)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_ComentarioONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- Comentarios ONGs --- */
CREATE PROCEDURE [dbo].[sp_Insertar_ComentarioONG]
    @UsuarioID INT,
    @ONGID INT,
    @Comentario VARCHAR(MAX),
    @Valoracion INT
AS
BEGIN
    INSERT INTO Comentarios_ONGs(Fecha, UsuarioID, ONGID, Comentario, Valoracion)
    VALUES (GETDATE(), @UsuarioID, @ONGID, @Comentario, @Valoracion)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Contacto]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* --- Contacto ---*/
CREATE PROCEDURE [dbo].[sp_Insertar_Contacto]
    @Nombre VARCHAR(35),
    @Correo VARCHAR(50),
    @Telefono VARCHAR(31)
AS
BEGIN
    INSERT INTO Contacto(Nombre, CorreoElectronico, Telefono)
    VALUES (@Nombre, @Correo, @Telefono)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Donativo]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insertar_Donativo]
    @UsuarioID INT,
    @Monto DECIMAL(18,2),
    @MonedaID INT,
    @MetodoPagoID INT,
    @ONGID INT
AS
BEGIN
    INSERT INTO Recibo_Donativo_Economico(UsuarioID, Monto, MonedaID, MetodoPagoID, Fecha, ONGID)
    VALUES (@UsuarioID, @Monto, @MonedaID, @MetodoPagoID, CAST(GETDATE() AS DATE), @ONGID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_DonativoCampaña]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insertar_DonativoCampaña]
    @UsuarioID INT,
    @Monto DECIMAL(18,2),
    @MonedaID INT,
    @MetodoPagoID INT,
    @CampanaID INT
AS
BEGIN
    INSERT INTO Recibo_Donativo_EconomicoCampaña(
        UsuarioID, 
        Monto, 
        MonedaID, 
        MetodoPagoID, 
        Fecha, 
        CampanaID
    )
    VALUES (
        @UsuarioID, 
        @Monto, 
        @MonedaID, 
        @MetodoPagoID, 
        CAST(GETDATE() AS DATE), 
        @CampanaID
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_EstatusONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- Estatus_ONG --- */
CREATE PROCEDURE [dbo].[sp_Insertar_EstatusONG] (@Nombre VARCHAR(30))
AS BEGIN INSERT INTO Estatus_ONG(NombreEstatus) VALUES (@Nombre) END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_ImagenCampana]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- Imagenes Campañas --- */
CREATE PROCEDURE [dbo].[sp_Insertar_ImagenCampana] (@CampanaID INT, @Ruta VARCHAR(MAX))
AS BEGIN INSERT INTO Imagenes_Campanas(CampanaID, Ruta) VALUES (@CampanaID, @Ruta) END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_ImagenONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- Imagenes ONGs --- */
CREATE PROCEDURE [dbo].[sp_Insertar_ImagenONG] (@ONGID INT, @Ruta VARCHAR(MAX))
AS BEGIN INSERT INTO Imagenes_ONGs(ONGID, Ruta) VALUES (@ONGID, @Ruta) END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_MetodoPago]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- MetodoPago --- */
CREATE PROCEDURE [dbo].[sp_Insertar_MetodoPago] (@Nombre VARCHAR(40))
AS BEGIN INSERT INTO MetodoPago(NombreMetodoPago) VALUES (@Nombre) END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Moneda]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insertar_Moneda] (@Nombre VARCHAR(20))
AS BEGIN INSERT INTO Moneda(NombreMoneda) VALUES (@Nombre) END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_ONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--- ONGs ---*/
CREATE PROCEDURE [dbo].[sp_Insertar_ONG]
    @Logo VARCHAR(MAX),
    @Nombre VARCHAR(60),
    @Descripcion VARCHAR(255),
    @TipoONGID INT,
    @PaisID INT,
    @ContactoID INT,
    @RFC VARCHAR(12),
    @Comprobante VARCHAR(MAX),
    @EstatusID INT,
    @PlataformaWeb VARCHAR(MAX)
AS
BEGIN
    INSERT INTO ONGs(Logo, Nombre_ONG, Descripcion, TipoONGID, PaisID, ContactoID, RFC, Comprobante, EstatusID, PlataformaWeb)
    VALUES (@Logo, @Nombre, @Descripcion, @TipoONGID, @PaisID, @ContactoID, @RFC, @Comprobante, @EstatusID, @PlataformaWeb)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Pais]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- Paises --- */
CREATE PROCEDURE [dbo].[sp_Insertar_Pais] (@Nombre VARCHAR(47))
AS BEGIN INSERT INTO Paises(NombrePaises) VALUES (@Nombre) END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Rol]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- Rol --- */
CREATE PROCEDURE [dbo].[sp_Insertar_Rol] (@Nombre VARCHAR(20))
AS BEGIN INSERT INTO Rol(NombreRol) VALUES (@Nombre) END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_TipoCuenta]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- TiposDeCuenta --- */
CREATE PROCEDURE [dbo].[sp_Insertar_TipoCuenta] (@Nombre VARCHAR(20))
AS BEGIN INSERT INTO TiposDeCuenta(NombreTipoDeCuenta) VALUES (@Nombre) END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_TipoONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- Tipos_ONG --- */
CREATE PROCEDURE [dbo].[sp_Insertar_TipoONG] (@Nombre VARCHAR(20))
AS BEGIN INSERT INTO Tipos_ONG(NombreTipoONG) VALUES (@Nombre) END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Usuario]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insertar_Usuario]
    @Nombres VARCHAR(40),
    @ApellidoP VARCHAR(25),
    @ApellidoM VARCHAR(25),
    @Correo VARCHAR(50),
    @Contrasena VARCHAR(50), -- Recibimos texto
    @RolID INT,
    @PaisID INT,
    @TipoCuentaID INT
AS
BEGIN

	DECLARE @Salt UNIQUEIDENTIFIER = NEWID()

    INSERT INTO Usuarios(Nombres, ApellidoPaterno, ApellidoMaterno, CorreoElectronico, Contrasena, Salt, RolID, PaisID, TipoCuentaID)
    VALUES (
        @Nombres, 
        @ApellidoP, 
        @ApellidoM, 
        @Correo, 
        HASHBYTES('SHA2_256', @Contrasena + CAST(@Salt AS VARCHAR(36))),
        @Salt,
        @RolID, 
        @PaisID, 
        @TipoCuentaID
		)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_UsuarioONG]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insertar_UsuarioONG]
    @Nombre VARCHAR(30),
    @ApellidoP VARCHAR(30),
    @ApellidoM VARCHAR(30),
    @Correo VARCHAR(80),
    @Contrasena VARCHAR(50),
    @ONGID INT
AS
BEGIN
    DECLARE @Salt UNIQUEIDENTIFIER = NEWID();

    INSERT INTO Usuarios_ONGs(Nombre, ApellidoPaterno, ApellidoMaterno, CorreoElectronico, Contrasena, Salt, ONGID)
    VALUES (
        @Nombre, 
        @ApellidoP, 
        @ApellidoM, 
        @Correo, 
        HASHBYTES('SHA2_256', @Contrasena + CAST(@Salt AS VARCHAR(36))), 
        @Salt,
        @ONGID
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Registrar_Usuario_Y_ONG_Completo]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--- Registro de usuarios Ong y Ong ---*/
CREATE   PROCEDURE [dbo].[sp_Registrar_Usuario_Y_ONG_Completo]
    -- Datos del Usuario
    @NombreUser VARCHAR(30),
    @ApellidoP VARCHAR(30),
    @ApellidoM VARCHAR(30),
    @CorreoUser VARCHAR(80),
    @PassUser VARCHAR(50),
    
    -- Lógica de Selección
    @EsNuevaONG BIT, 
    @ONGID_Existente INT = NULL,

    -- Datos de la Nueva ONG
    @NombreONG VARCHAR(60) = NULL,
    @DescripcionONG VARCHAR(255) = NULL,
    @TipoONGID INT = NULL,
    @PaisID INT = NULL,
    @RFC VARCHAR(12) = NULL,
    @RutaComprobante VARCHAR(MAX) = NULL, -- Ruta del PDF
    @PlataformaWeb VARCHAR(MAX) = NULL,
    @LogoPath VARCHAR(MAX) = NULL,        -- NUEVO: Ruta de la imagen
    
    -- Datos del Contacto
    @NombreContacto VARCHAR(35) = NULL,
    @CorreoContacto VARCHAR(50) = NULL,
    @TelContacto VARCHAR(31) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @FinalONGID INT;
        
        IF @EsNuevaONG = 1
        BEGIN
            -- 1. Insertar Contacto
            INSERT INTO Contacto(Nombre, CorreoElectronico, Telefono)
            VALUES (@NombreContacto, @CorreoContacto, @TelContacto);
            
            DECLARE @NewContactoID INT = SCOPE_IDENTITY();

            -- 2. Buscar ID del Estatus 'Pendiente'
            DECLARE @EstatusPendienteID INT;
            SELECT TOP 1 @EstatusPendienteID = EstatusID FROM Estatus_ONG WHERE NombreEstatus LIKE '%Pendiente%';
            IF @EstatusPendienteID IS NULL SET @EstatusPendienteID = 1; -- Fallback si no existe

            -- 3. Insertar ONG (Ahora guardamos el LogoPath)
            INSERT INTO ONGs(Nombre_ONG, Descripcion, TipoONGID, PaisID, ContactoID, RFC, Comprobante, EstatusID, PlataformaWeb, Logo)
            VALUES (@NombreONG, @DescripcionONG, @TipoONGID, @PaisID, @NewContactoID, @RFC, @RutaComprobante, @EstatusPendienteID, @PlataformaWeb, ISNULL(@LogoPath, 'default_logo.png'));

            SET @FinalONGID = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            SET @FinalONGID = @ONGID_Existente;
        END

        -- 4. Insertar Usuario vinculado
        DECLARE @Salt UNIQUEIDENTIFIER = NEWID();

        INSERT INTO Usuarios_ONGs(Nombre, ApellidoPaterno, ApellidoMaterno, CorreoElectronico, Contrasena, Salt, ONGID)
        VALUES (
            @NombreUser, 
            @ApellidoP, 
            @ApellidoM, 
            @CorreoUser, 
            HASHBYTES('SHA2_256', @PassUser + CAST(@Salt AS VARCHAR(36))), 
            @Salt,
            @FinalONGID
        );

        COMMIT TRANSACTION;
        SELECT 1 as Resultado, 'Registro Exitoso' as Mensaje;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 0 as Resultado, ERROR_MESSAGE() as Mensaje;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Validar_Login]    Script Date: 01/12/2025 23:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Validar_Login]
    @Correo VARCHAR(80),
    @PasswordTextoPlano VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Variables para guardar el resultado de la búsqueda
    DECLARE @UsuarioID INT;
    DECLARE @Nombre VARCHAR(100);
    DECLARE @TipoUsuario VARCHAR(20); -- 'GENERAL' o 'ONG'
    DECLARE @RolID_O_ONGID INT; -- Guardará el RolID (si es usuario) o el ONGID (si es admin)

    -- ---------------------------------------------------------
    -- 1. BUSCAR EN TABLA USUARIOS (Público General)
    -- ---------------------------------------------------------
    SELECT TOP 1
        @UsuarioID = UsuarioID,
        @Nombre = Nombres + ' ' + ApellidoPaterno,
        @TipoUsuario = 'GENERAL',
        @RolID_O_ONGID = RolID
    FROM 
        Usuarios
    WHERE 
        CorreoElectronico = @Correo 
        AND Contrasena = HASHBYTES('SHA2_256', @PasswordTextoPlano + CAST(Salt AS VARCHAR(36)));

    -- ---------------------------------------------------------
    -- 2. SI NO SE ENCONTRÓ, BUSCAR EN TABLA USUARIOS_ONGs
    -- ---------------------------------------------------------
    IF @UsuarioID IS NULL
    BEGIN
        SELECT TOP 1
            @UsuarioID = Usuario_ONGID,
            @Nombre = Nombre + ' ' + ApellidoPaterno,
            @TipoUsuario = 'ONG',
            @RolID_O_ONGID = ONGID -- Aquí guardamos el ID de la ONG que administra
        FROM 
            Usuarios_ONGs
        WHERE 
            CorreoElectronico = @Correo 
            AND Contrasena = HASHBYTES('SHA2_256', @PasswordTextoPlano + CAST(Salt AS VARCHAR(36)));
    END

    -- ---------------------------------------------------------
    -- 3. DEVOLVER RESULTADO FINAL
    -- ---------------------------------------------------------
    -- Si encontró a alguien, devuelve los datos. Si no, no devuelve nada.
    IF @UsuarioID IS NOT NULL
    BEGIN
        SELECT 
            @UsuarioID AS ID,
            @Nombre AS NombreCompleto,
            @Correo AS Correo,
            @TipoUsuario AS TipoUsuario,   -- 'GENERAL' o 'ONG'
            @RolID_O_ONGID AS ID_Rol_o_Entidad -- Sirve para permisos o saber a qué ONG pertenece
    END
END
GO
USE [master]
GO
